@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

*{
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: #232222;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper{
  width: 80%;
  height: 240px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
 border-radius: 40px;
background: #232222;
box-shadow:  -15px 15px 30px #0e0e0e,
             15px -15px 30px #383636;
}
.time{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.time .box{
  width: 160px;
  height: 160px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3.8em;
  border-radius: 40px;
border-radius: 40px;
background: linear-gradient(225deg, #252424, #201f1f);
box-shadow:  -15px 15px 30px #0e0e0e,
             15px -15px 30px #383636;
  color: #1AE946;
}
.time .box h3{
  text-shadow: 0 0 15px rgba(57, 214, 145, 0.8)
}

@media screen and (max-width: 480px){
  .wrapper{
    height: 100px;
    border-radius: 10px;
  }
   .time .box{
    width: 60px;
    height: 60px;
    font-size: 1.4rem;
    border-radius: 10px;
  }
}
